@font-face {
	font-family: 'PlayfairDisplay-Regular';
	src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf');
}
@font-face {
	font-family: 'GreatVibes-Regular';
	src: url('../fonts/great-vibes/GreatVibes-Regular.ttf');
}


.tag-line {
	margin-top: 5px;
}
.tag-line p  {
	font-family: 'GreatVibes-Regular', serif;
	font-size: 50pt;
	color: white;
	letter-spacing: 1px;
	text-shadow: 10px 5px 5px #000;
}
.tag-line #every  {
	padding-left: 1.5em;
}
.tag-line #moment  {
	padding-left: 3em;
}
.singupPage-caption {
	color: white;
	font-size: 2rem;
}
p.addFriend > strong {
	color: black;
}
[class*=glyphicon-chevron] {
	color: white;
}
/*----------------------------------------*/
* {
	color: black;
	font-family: serif;
	word-spacing: 2px;

}
.Pagenavbar {
	border-style: none;
	background-color: black;
}
[alt="Brand Logo"] {
	width: auto;
	height: 50px;
}
#landingBody {
	font-size: 16px;
}
.moment {
	background-size: cover;
	background-image: url(../img/pic4.jpg);
	background-position: right;
	background-repeat: no-repeat;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	height: 300px;
}
.navbar {
	border-radius: 0;
	opacity: 0.9;
}
a[href="pages/signupPage.html"], button[data-target="#login"],
a[href="pages/userPage.html"] {
	width: 100px;
}
[class*=fa] {
	color: grey;
}
.btn-social span {
	color: white;
}
.fa-facebook:hover {
	color: #3B5998;
}
.fa-twitter:hover {
	color: #4099FF;
}
.fa-linkedin:hover {
	color: darkviolet;
}
.fa-github:hover {
	color: #fff;
}
.fa-google-plus:hover {
	color: red;
}
textarea {
	resize: none;
}
#capture {
	text-align: center;
	padding-top: 10%;
}
.carousel-mod {
	padding-right: 0;
	padding-left: 0;
}
.carousel-inner{
  width:100%;
  max-height: 600px;
}
.brand-name-logo {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
.brand-name-for-sm {
	width: 70%;
}
.brand-name {
	margin-top: 7%;
}
.signin-login {
	margin-top: 50%;
}
.brand-name-div {
	line-height: 300px;
}
.footer-company-name {
	font-size: 12px;
}
.footer-icons {
	font-size: 17px;
}
.footer-icons p {
	font-size: small;
	color: white;	
	margin: 0;
}
.landing-signin, .landing-signup {
    padding: 0;
	margin: 5px;
	text-align: center;
}
span.landing-signup {
	margin-top: 2px;
}
.landing-content p {
	text-align: center;
}
.right-main {
	text-align: center;
	padding-top: 12%;
}
h2 {
	padding: 0;
	margin: 0;
}
[data-target="#login"],
[href="pages/signupPage.html"] {
	color: #0E1C36;
}
footer {
	/*margin-top: 10px;*/
	border-top: 1px solid black;
	background-color: black;
}
.footer-company-name {
	margin-top: 15px;
	color: white;
}
[data-target="#contact"] {
	margin-top: 5px;
	background-color: grey;
	color: white;
	border-color: white;
}

/*--------------------------------------- signupPage ---------------------------------------*/
#singupPage {
	margin: 1% auto;
}
.singupPage-panel {
	padding-top: 2%;
	padding-bottom: 3%;
}
.btn-twitter, 
.btn-facebook,
.btn-flickr,
.btn-google,
.btn-instagram,
.btn-pinterest {
	width: 200px;
}

/*--------------------------------------- friendPage ---------------------------------------*/

[alt="Brand"] {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 100%;
	border: 1px solid white;
	border-radius: 180px;
}
.navbar-brand {
	padding-top: 10px;
}
.nav-userPage {
	padding: 5px;
}
[href="userPage.html"] {
	color: #fff;
}
.friend-profile, .friend-left {
	padding: 0;
}
[class*="profile-image"] {
	margin-bottom: 20px;
	border-radius: 50%;
	border: 1px solid white;
	padding: 2px;
}
.username {
	margin-top: 5px;
	margin-bottom: 5px;
}
.vline {
	height: 450px;
	width: 1px;
	border-right: 0.5px solid black;
	opacity: 0.4;
	margin-left: 12px;
	margin-right: 12px;
}
.hr-gallery {
	opacity: 0.4;
	color: black;
	border: 0.5px solid black;
}
.friend-gallery {
/*	border-top: 1px solid #F4EFEF;
	border-left: 1px solid #F4EFEF;
	border-right: 1px solid #F4EFEF;*/
	padding: 5px;
}
.posts {
	margin: 0;
}
.friend-gallery-image {
	max-width: 400px;
	width: auto;
	max-height: 400px;
	margin-bottom: 20px;
	border: 1px solid black;
	text-align: center;
	overflow: hidden;
}
.friend-right {
	margin-left: 12px;
}
.comment-section {
	padding: 0 15px;
}
[class*="gallery"] {
	margin-bottom: 2%;
}
#friendPage {
	color: white;
	width: auto;
	margin-top: 50px;
	overflow: auto;
}
.friendPage-content {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}
/*--------------------------------------- strangerPage ---------------------------------------*/

.addFriend-well {
	background-color: #5bc0de;
}
.addFriend {
	color: #fff;
	text-align: center;
	margin: 0 auto;	
	
    background-color: #5bc0de;
    border-color: #46b8da;
}
.toTop {
	color: white;
}
#logout {
	color: white;
}
#logout:hover {
	text-decoration: none;
    background-color: #eee;
    color: #23527c;
}

/*--------------------------------------- icons ---------------------------------------*/
.footer-icons i.fa-facebook,
.footer-icons i.fa-twitter,
.footer-icons i.fa-linkedin,
.footer-icons i.fa-github,
.footer-icons i.fa-google-plus {
	font-size: 1em;
}

.fa-heart {
	color: red;
}
.fa-share-square {
	color: blue;
}
.fa-comments {
	color: green;
}
.fa-arrow-circle-up {
	color: black;
}
i[class*=fa] {
	font-size: 1.5em;
}
/*--------------------------------------------------*/
.jumbotron {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #262626;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.jumbotron p, .jumbotron u>strong {
    color: #bfbfbf;
}
.jumbotron h1 {
	color: white;
}
.nav-singupPage {
	margin-bottom: 0;
}
.singupPage-content {
	background-image: url("../img/signupPage/sunset.jpg"), url("../img/user1/pic1.jpg"), linear-gradient(orange, yellow);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top top;
}
