
.Pagenavbar {
	border-style: none;
	background-color: black;
}
[alt="Brand Logo"] {
	width: auto;
	height: 50px;
}
#landingBody {
	font-size: 16px;
	padding-top: 55px;
	background-size: cover;
	background-image: url(../img/pic4.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
}
.navbar {
	border-radius: 0;
}
a[href="pages/signupPage.html"], button[data-target="#login"],
a[href="pages/userPage.html"] {
	width: 100px;
}
[class*=fa] {
	color: grey;
}
.fa-facebook:hover {
	color: #3B5998;
}
.fa-twitter:hover {
	color: #4099FF;
}
.fa-linkedin:hover {
	color: darkviolet;
}
.fa-github:hover {
	color: #000;
}
.fa-google-plus:hover {
	color: red;
}
textarea {
	resize: none;
}
#capture {
	text-align: center;
	padding-top: 10%;
}
.brand-name {
	margin-bottom: 5%;
}
.brand-name-logo {
	width: 60%;
	height: 60%;
}
.footer-company-name {
	font-size: 12px;
}
.footer-icons {
	font-size: 17px;
}
.footer-icons p {
	font-size: small;
	color: white;	
	margin: 0;
}
.landing-signin, .landing-signup {
    padding: 0;
	margin: 5px;
	text-align: center;
}
.landing-content p {
	text-align: center;
}
#myCarousel {
	text-align: center;
}
.right-main {
	text-align: center;
	padding-top: 12%;
}
h2 {
	padding: 0;
	margin: 0;
}
[data-target="#login"],
[href="pages/signupPage.html"] {
	color: #0E1C36;
}
.landing-hr {
	margin: 20px;
}

footer {
	margin-top: 10px;
	border-top: 1px solid black;
	background-color: black;
}
.footer-company-name {
	margin-top: 15px;
	color: white;
}
[data-target="#contact"] {
	margin-top: 5px;
	background-color: grey;
	color: white;
}

/*--------------------------------------- signupPage ---------------------------------------*/
#singupPage {
	margin: 1% auto;
}
.singupPage-panel {
	margin: 30px 0 50px 0;
	padding-top: 2%;
	padding-bottom: 3%;
	background-color: grey;
	border-color: #fff;
}
.btn-twitter, 
.btn-facebook,
.btn-flickr,
.btn-google,
.btn-instagram,
.btn-pinterest {
	width: 200px;
}

/*--------------------------------------- friendPage ---------------------------------------*/

.vertical-span {

}
[alt="Brand"] {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 100%;
	border: 1px solid white;
	border-radius: 180px;
}
.navbar-brand {
	padding-top: 10px;
}
.nav-userPage {
	padding: 5px;
}
[href="userPage.html"] {
	color: white;
}
.friend-profile, .friend-left {
	padding: 0;
}
[class*="profile-image"] {
	margin-bottom: 20px;
	border-radius: 50%;
	border: 1px solid white;
	padding: 2px;
}
.username {
	margin-top: 5px;
	margin-bottom: 5px;
}
.vline {
	height: 450px;
	width: 1px;
	border-right: 0.5px solid black;
	opacity: 0.4;
	margin-left: 12px;
	margin-right: 12px;
}
.hr-gallery {
	opacity: 0.4;
	color: black;
	border: 0.5px solid black;
}
.friend-gallery {
/*	border-top: 1px solid #F4EFEF;
	border-left: 1px solid #F4EFEF;
	border-right: 1px solid #F4EFEF;*/
	padding: 5px;
}
.posts {
	margin: 0;
}
.friend-gallery-image {
	max-width: 400px;
	width: auto;
	max-height: 400px;
	margin-bottom: 20px;
	border: 1px solid black;
	text-align: center;
}
.friend-right {
	margin-left: 12px;
}
.comment-section {
	padding: 0 15px;
}
[class*="gallery"] {
	margin-bottom: 2%;
}
#friendPage {
	color: white;
	width: 1000px;
	margin-top: 50px;
}

/*--------------------------------------- strangerPage ---------------------------------------*/

.addFriend-well {
	background-color: grey;
}
.addFriend {
	color: initial;
	text-align: center;
	margin: 0 auto;	
}
.toTop {
	color: white;
}
#logout {
	color: white;
}
#logout:hover {
	text-decoration: none;
    background-color: #eee;
    color: #23527c;
}

/*--------------------------------------- userPage ---------------------------------------*/

/*test*//*test*//*test*//*test*//*test*//*test*//*test*//*test*/
* {
	color: black;
}

